.desktop-toggle-badge {
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 0px 4px;

    position: absolute;
    top: 0px;
    right: 0px;
}

.show-desktop-dock-button {
    padding: 6px;
    border-radius: 8px;
    transition-duration: 150ms;
}

.show-desktop-dock-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.show-desktop-dock-button:active {
    background-color: rgba(255, 255, 255, 0.25);
}

.show-desktop-dock-icon {
    color: #dfdfdf;
}

